<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Invoice</title>
  <link rel="stylesheet" href="/css/invoice.css">
</head>

<body style="background: #c0dd75">

<!-- Print Button -->
<div style="display: flex; justify-content: space-around">
  <a th:href="@{/home}" class="print-button">Back to Home</a>
  <a href="javascript:window.print()" class="print-button"
     th:if="${session.account != null && billId != null}">Print this invoice</a>
</div>

<!-- Invoice -->
<div id="invoice" th:if="${session.account != null && billId != null}">

  <!-- Header -->
  <div class="row">
    <div class="col-md-6">
      <div id="logo">
        <a th:href="@{/}" title="Back To Home"><img src="/image/logo_m.png" alt=""></a>
      </div>
    </div>

    <div class="col-md-6">

      <p id="details">
        <strong>Order:</strong> <span th:text="'#' + ${billId}"></span> <br>
        <strong>Order-date:</strong> <span th:text="${#dates.format(bill.orderDate, 'dd-MM-yyyy')}"></span> <br>
      </p>
    </div>
  </div>


  <!-- Client & Supplier -->
  <div class="row">
    <div class="col-md-12">
      <h2>Invoice</h2>
    </div>

    <div class="col-md-6">
      <strong class="margin-bottom-5">Supplier</strong>
      <p>
        Cửa hàng bán đồ điện tử. <br>
        Hồ Chí Minh City. <br>
        Viet Nam<br>
      </p>
    </div>

    <div class="col-md-6">
      <strong class="margin-bottom-5">Customer</strong>
      <p>

        <span th:text="${bill.customer.name}"></span> <br>
        <span th:text="${bill.customer.address}"></span> <br>
        <span th:text="${bill.customer.address}"></span> <br>
      </p>
    </div>
  </div>


  <!-- Invoice -->
  <div class="row">
    <div class="col-md-12">
      <table class="margin-top-20">
        <tr>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>

        <th:block th:each="detail : ${billDetail}">
          <tr>
            <td th:text="${detail.product.name}">Extended Plan</td>
            <td th:text="${detail.product.price} + 'đ'">$0.00</td>
            <td th:text="${detail.quantity}">1</td>
            <td th:text="${detail.quantity * detail.product.price} + 'đ'">$9.00</td>
          </tr>
        </th:block>
      </table>
    </div>

    <div class="col-md-4 col-md-offset-8">
      <table id="totals">
        <tr>
          <th>Total Due</th>
          <th><span th:text="${bill.totalPrice} +'đ'">$9.00</span></th>
        </tr>
      </table>
    </div>
  </div>


  <!-- Footer -->
  <!--  <div class="row">-->
  <!--    <div class="col-md-12">-->
  <!--      <ul id="footer">-->
  <!--        <li><span>www.example.com</span></li>-->
  <!--        <li>office@example.com</li>-->
  <!--        <li>(123) 123-456</li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--  </div>-->

</div>


</body>
</html>