<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/css_thanhtoan.css">
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/css/all.min.css">
    <script src="/js/jquery-3.6.0.min.js"></script>
    <title>Thanh Toán</title>
</head>

<body>
<section>
    <div class="header">
        <div id="top1">
            <a th:href="@{/}"><img src="/image/logo_m.png" style="width: 90%; height: 200%;"/></a>
        </div>
        <div class="seachbox">
            <form th:action="@{/search/page=0}" method="GET" style="display: flex; width: 100% " >
                <input type="text" placeholder="Tìm Kiếm Sản Phẩm " name="search_input">
                <div class="seach-btn" style="justify-items: flex-end; cursor: pointer">
                    <button type="submit" style="border: none; background: none; width: 100%; height: 100%"><i class="fa fa-search fa-2x" aria-hidden="true" style="color: white;"></i></button>
                </div>
            </form>
        </div>
        <div id="phone">
            <img src="./image/phone.svg" alt="">
            <p>Gọi đặt hàng:</p>
            <h2>0372082758</h2>
        </div>
    </div>
</section>
<section id="menu">
    <ul>
        <li><a th:href="@{/}"><b>Trang Chủ</b></a></li>
        <li><a href=""><b>Danh mục sản phẩm</b></a>
            <ul class="submenu" style="width: 100%; left: 0;">
                <th:block th:each="category :${categorylist}">
                    <li style="width: 100%;">
                        <a th:href="@{/Category/{idCategory}(idCategory=${category.id})}"><b
                                th:text="${category.name}"></b></a>
                    </li>
                </th:block>
            </ul>
        </li>


        <li><a th:href="@{/Cart}"><b>Giỏ Hàng</b></a></li>
        <li><a th:href="@{/Orders}"><b>Đơn hàng</b></a></li>

        <li th:if="${session.account == null}"><a th:href="@{/Signin}"><b>Đăng Nhập</b></a></li>
        <th:block th:if="${session.account!=null}">
            <li>
                <b>
                    <img th:src="${session.account.avatar}"
                         style="border-radius: 50%; width: 40px; height: 40px; vertical-align: middle;"/>
                </b>
                <a th:href="@{/Profile}">
                    <b th:text="${session.account.name}">Tien Tai</b>
                </a>
            </li>
            <li><a th:href="@{/SignOut}"><b>Đăng Xuất</b></a></li>
        </th:block>
    </ul>
</section>


<section style="min-height: 300px; margin-top: 30px">
    <th:block th:if="${session.account != null}">
        <form action="/Order" method="post" th:object="${CustomerForm}">
            <div class="col-6 col-s-12 form-nhap">
                <h2>THÔNG TIN THANH TOÁN</h2>
                <div class="row" style="margin-top: 5px;">

                    <div>
                        <label for="txt_ten">Tên <span id="s_ten" style="color: red;">*</span></label><br>
                        <input id="txt_ten" type="text" required th:field="*{name}">
                    </div>

                </div>

                <div class="row" style="margin-top: 5px;">
                    <div class="col-12 col-s-12">
                        <label for="txt_dchi">Địa chỉ:</label><br>
                        <input type="text" id="txt_dchi" required th:field="*{address}">
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-12 col-s-12">
                        <label for="txt_email">Email <span style="color: red;" id="s_email"> </span> </label><br>
                        <input type="email" id="txt_email" required th:field="*{email}">
                    </div>
                </div>

                <div class="row" style="margin-top: 5px;">
                    <div class="col-12 col-s-12">
                        <label for="txt_dienthoai">Số điện thoại <span id="s_dienthoai"> </span></label><br>
                        <input type="text" id="txt_dienthoai" required th:field="*{phone}">
                    </div>
                </div>
            </div>
            <div class="col-6 col-s-12 from-thanhtoan">
                <h2>ĐƠN HÀNG CỦA BẠN</h2>
                <div class="row thanhtoan">
                    <div class="col-12 col-s-12" style="text-align: left;">
                        <label>SẢN PHẨM</label>
                    </div>
                    <div class="col-12 col-s-12" style="text-align: right;">
                        <label>Tổng</label>
                    </div>
                </div>
                <th:block th:each="cartDetail : ${CartDetail}">
                    <div id="spham" class="row" style="display: flex">
                        <div class="col-12 col-s-12" style="text-align: left;">
                            <label th:text="${cartDetail.product.name} + '  x'"></label>
                            <span th:text="${cartDetail.quantity}" style="color: red; font-weight: 700"></span>
                        </div>
                        <div class="col-12 col-s-12" style="text-align: right;">
                            <label th:text="${cartDetail.price} + 'đ'">Tổng</label>
                        </div>
                    </div>
                </th:block>
                <div class="row tong">
                    <div class="col-8 col-s-12" style="text-align: left;">
                        <label>TỔNG</label>
                    </div>
                    <div class="col-4 col-s-12" style="text-align: right;">
                        <label id="tt" th:text="${CartTotal}">0</label>đ
                    </div>
                </div>
                <div class="row thanhtoan">
                    <div class="col-12 col-s-12" style="text-align: left;">
                        <button onclick="DatHang()">ĐẶT HÀNG</button>
                    </div>
                </div>

            </div>
        </form>
    </th:block>
    <th:block th:if="${session.account == null}">
        <h4 style="margin-left: 100px">Vui lòng <a th:href="@{/Signin}"> đăng nhập</a></h4>
    </th:block>
</section>


<section id="thongtin">
    <div class="header-thongtin">
        <div class="nav__thongtin">

            <div class="content_thongtin">
                <p>Hệ thống điện thoại uy tín toàn quốc</p>
                <ul>
                    <li>Hotline 037.208.2758</li>
                    <li>Cơ sở Hà Nội: 295 Khâm Thiên - Đống Đa - Hà Nội</li>
                    <li>Cơ sở Phú Thọ: Tp.Việt Trì - Phú Thọ</li>
                    <li>Cơ sở TP.Hồ Chí Minh: 100 Thạnh Mỹ Lợi - Quận 2 - TP.Hồ Chí Minh</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-hotro">
        <div class="nav__hotro">
            <h3>HỖ TRỢ KHÁCH HÀNG</h3>
            <ul>
                <li><a href="#">Cách sạc pin điện thoại kéo dài tuổi thọ pin</a></li>
                <li><a href="#">Quy trình bảo hành điện thoại</a></li>
                <li><a href="#">Các phần mềm diện thoại hữu ích nên có</a></li>
            </ul>
        </div>
    </div>
    <div class="header-dichvu">
        <div class="nav__dichvu">
            <h3>DỊCH VỤ KHÁCH HÀNG</h3>
            <ul>
                <li><a href="#">Giới thiệu về Shop điện thoại</a></li>
                <li><a href="#">Hướng dẫn đặt hàng</a></li>
                <li><a href="#">Chính sách đổi trả và bảo hành</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Liên hệ Shop</a></li>
                <a href="index.html">
                    <li>Hệ thống cửa hàng</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="header-thanhtoan">
        <div class="nav__thanhtoan">
            <h3>THANH TOÁN</h3>
            <ul>
                <img src="image/Visa_Inc._logo.svg.png" style="width: 20%;">
                <img src=" image/iconmastercard.png" style="width: 20%;">
                <img src=" image/iconatm.png" style="width: 20%;">
            </ul>
        </div>
    </div>
</section>
</body>
</html>