<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/css_login.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body style="background-image: url(/image/bglogin.jpg);">
<div class="form" id="signin-form">
    <a th:href="@{/home}" class="form-logo">
        <img src="/image/logo_m.png" alt="Web">
    </a>
    <form th:action="@{/forget_password/username}" method="post" th:if="${session.username == null}">
        <div class="form-group">
            <input type="text" class="form-input" placeholder="Tên đăng nhập" name="username" id="signin-email">
            <span class="form-input-icon err">
                <i class='bx bx-error-circle'></i>
            </span>
            <span class="form-input-icon success">
                <i class='bx bx-check-circle'></i>
            </span>
            <span class="form-input-err-msg" data-err-for="signin-email"></span>
        </div>
        <button class="form-btn" id="checkUsername-btn">Kiểm tra tên đăng nhập</button>
    </form>
    <form th:action="@{/forget_password/code}" method="post" th:if="${session.username != null && session.reset == null}">
        <div class="form-group">
            <input type="number" class="form-input" placeholder="Mã" name="code">
            <span class="form-input-icon err">
                <i class='bx bx-error-circle'></i>
            </span>
            <span class="form-input-icon success">
                <i class='bx bx-check-circle'></i>
            </span>
            <span class="form-input-err-msg" data-err-for="signin-email"></span>
        </div>
        <button class="form-btn" id="checkCode-btn">Kiểm tra mã</button>
    </form>
    <form th:action="@{/forget_password/reset}" method="post" th:if="${session.username != null && session.code != null && session.reset == true}">
        <div class="form-group">
            <input type="text" class="form-input" placeholder="Mật khẩu mới" name="newPass">
            <span class="form-input-icon err">
                <i class='bx bx-error-circle'></i>
            </span>
            <span class="form-input-icon success">
                <i class='bx bx-check-circle'></i>
            </span>
            <span class="form-input-err-msg" data-err-for="signin-email"></span>
            <input type="text" class="form-input" placeholder="Nhập lại Mật khẩu mới" name="reNewPass">
            <div th:text="${errorPass}" th:if="${errorPass}" class="row" style="color: #8f201e; background: #ffd7d6; padding: 12px 12px; text-align: center; line-height: 36px !important;" role="alert"></div>
        </div>
        <button class="form-btn" >Tạo mới mật khẩu</button>
    </form>
    <span class="form-delimiter">
            Hoặc đăng nhập với
        </span>
    <div class="form-social">
        <a href="https://www.facebook.com/" class="form-social-item fb">
            <i class='bx bxl-facebook'></i>
        </a>
        <a href="#" class="form-social-item tw">
            <i class='bx bxl-twitter'></i>
        </a>
        <a href="https://www.google.com/gmail/about/" class="form-social-item gg">
            <i class='bx bxl-google'></i>
        </a>
    </div>
    <span class="form-txt">
            Chưa có tài khoản?
            <a th:href="@{/signup}">Đăng kí!</a>
        </span>
    <span class="form-txt">
            <a href="/Signin">Đăng nhập</a>
        </span>
    <span class="form-txt">
            <a th:href="@{/home}">Trang Chủ</a>
        </span>
</div>
<script th:if="${errorCode == true}">
    swal("Mã xác nhận không đúng !!", "", "error");
</script>
<script th:if="${errorUsername == true}">
    swal("Tên đăng nhập không tồn tại !!", "", "error");
</script>


</body>

</html>