<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reponsive.css">
    <link rel="stylesheet" href="/css/css_brand_samsung.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.3-web/css/all.min.css">
    <th:block th:if="${search_input != null}">
        <title th:text="${search_input}">Tìm kiếm</title>
    </th:block>
    <th:block th:if="${categoryName != null}">
        <title th:text="${categoryName}"></title>
    </th:block>
    <style>
        .product__pagination {
            display: flex;
            width: 100%;
            align-content: center;
            justify-content: center;
        }

        .product__pagination a {
            margin: 0 8px;
        }
    </style>
</head>
<body>
<section>
    <div class="header">
        <div id="top1">
            <a th:href="@{/}"><img src="/image/logo_m.png" style="width: 90%; height: 200%;"/></a>
        </div>
        <div class="seachbox">
            <form th:action="@{/search/page=0}" method="GET" style="display: flex; width: 100% ">
                <input type="text" placeholder="Tìm Kiếm Sản Phẩm " name="search_input">
                <div class="seach-btn" style="justify-items: flex-end; cursor: pointer">
                    <button type="submit" style="border: none; background: none; width: 100%; height: 100%"><i
                            class="fa fa-search fa-2x" aria-hidden="true" style="color: white;"></i></button>
                </div>
            </form>
        </div>
        <div id="phone">
            <img src="/image/phone.svg" alt="">
            <p>Gọi đặt hàng:</p>
            <h2>0372082758</h2>
        </div>
    </div>
</section>
<section id="menu">
    <ul>
        <li><a th:href="@{/}"><b>Trang Chủ</b></a></li>
        <li><a href=""><b>Danh mục sản phẩm</b></a>
            <ul class="submenu" style="width: 100%; left: 0;">
                <th:block th:each="category :${categorylist}">
                    <li style="width: 100%;">
                        <a th:href="@{/Category/{idCategory}(idCategory=${category.id})}"><b
                                th:text="${category.name}"></b></a>
                    </li>
                </th:block>
            </ul>
        </li>


        <li><a th:href="@{/Cart}"><b>Giỏ Hàng</b></a></li>
        <li><a th:href="@{/Orders}"><b>Đơn hàng</b></a></li>

        <li th:if="${session.account == null}"><a th:href="@{/Signin}"><b>Đăng Nhập</b></a></li>
        <th:block th:if="${session.account!=null}">
            <li>
                <b>
                    <img th:src="${session.account.avatar}"
                         style="border-radius: 50%; width: 40px; height: 40px; vertical-align: middle;"/>
                </b>
                <a th:href="@{/Profile}">
                    <b th:text="${session.account.name}">Tien Tai</b>
                </a>
            </li>
            <li><a th:href="@{/SignOut}"><b>Đăng Xuất</b></a></li>
        </th:block>
    </ul>
</section>
<section id="san-pham-chinh" style="height: auto !important;">
    <div class="breadcroumb">
        <div class="bao-breadcroumb">
            <a th:href="@{/}" title="Go to Home page"><p>Trang chủ</p></a>
        </div>
        <i class="fas fa-angle-right fa-xs"></i>
        <div class="bao-breadcroumb">
            <th:block th:if="${categoryName == null}">
                <a href="#"><p th:text="${search_input}">Tìm kiếm</p></a>
            </th:block>
            <th:block th:if="${categoryName != null}">
                <a href="#"><p th:text="${categoryName}">Tìm kiếm</p></a>
            </th:block>
        </div>

    </div>
    <div class="tieu-de" style="width: 25%">
        <p>Kết quả tìm kiếm: Có <span th:text="${productList.getTotalElements()}"></span> sản phẩm.</p>
    </div>
    <hr size="5px" width="82%" color="coral" style="margin-bottom: 20px; margin-left: 9%;">
    </div>

    <div class="row" style="height: auto!important;">
        <th:block th:each="proc : ${productList.content}">
            <div class="col-3 col-s-6 box">
                <div class="contentsp" style="padding: 5px">
                    <div class="bao-sp-chinh">
                        <a th:href="@{/Product/{id}(id=${proc.id})}">
                            <img th:src="${proc.imagelist.get(0).getUrlImage()}" style="width:100%;">
                            <div class="box-name" th:text="${proc.name}"></div>
                            <div style="color: red; margin-top: 5px; margin-left: 5px; font-size: 17px;">
                                <span th:text="${proc.price} + 'đ'">25.200.000 ₫</span>
                            </div>

                        </a>
                    </div>
                </div>
            </div>

        </th:block>
    </div>

</section>
<th:block th:if="${thisIsShowCategory == true}">
    <div class="product__pagination" th:if="${productList.number >= 0}">
        <a th:if="${productList.number > 0}"
           th:href="@{/Category/{id}/page={number}(id=${idCategory}, number=0)}">First</a>
        <a th:if="${productList.number > 0 }"
           th:href="@{/Category/{id}/page={number}(id=${idCategory}, number=${productList.number - 1})}"
           th:text="${productList.number - 1}"></a>
        <a th:text="${productList.number}">1</a>
        <a th:if="${productList.number} < ${productList.totalPages - 1}"
           th:href="@{/Category/{id}/page={number}(id=${idCategory},number=${productList.number + 1})}"
           th:text="${productList.number + 1}">></a>
        <a th:if="${productList.number} < ${productList.totalPages - 2}"
           th:href="@{/Category/{id}/page={number}(id=${idCategory},number=${productList.totalPages - 1})}">Last</a>
    </div>
</th:block>
<th:block th:if="${thisIsShowCategory == false}">
    <div class="product__pagination" th:if="${productList.number >= 0}">
        <a th:if="${productList.number > 0}"
           th:href="@{/search/page={number}(search_input=${search_input} ,number=0)}">First</a>
        <a th:if="${productList.number > 0 }"
           th:href="@{/search/page={number}(search_input=${search_input} ,number=${productList.number - 1})}"
           th:text="${productList.number - 1}"></a>
        <a th:text="${productList.number}">1</a>
        <a th:if="${productList.number} < ${productList.totalPages - 1}"
           th:href="@{/search/page={number}(search_input=${search_input} ,number=${productList.number + 1})}"
           th:text="${productList.number + 1}">></a>
        <a th:if="${productList.number} < ${productList.totalPages - 2}"
           th:href="@{/search/page={number}(search_input=${search_input} ,number=${productList.totalPages - 1})}">Last</a>
    </div>
</th:block>
<!--<section id="thongtin">-->
<!--    <div class="header-thongtin">-->
<!--        <div class="nav__thongtin">-->
<!--            <img src="/image/logo_m.png">-->
<!--            <div class="content_thongtin">-->
<!--                <p>Hệ thống điện thoại uy tín toàn quốc</p>-->
<!--                <ul>-->
<!--                    <li>Hotline 037.208.2758</li>-->
<!--                    <li>Cơ sở Hà Nội: 295 Khâm Thiên - Đống Đa - Hà Nội</li>-->
<!--                    <li>Cơ sở Phú Thọ: Tp.Việt Trì - Phú Thọ</li>-->
<!--                    <li>Cơ sở TP.Hồ Chí Minh: 100 Thạnh Mỹ Lợi - Quận 2 - TP.Hồ Chí Minh</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="header-hotro">-->
<!--        <div class="nav__hotro">-->
<!--            <h3>HỖ TRỢ KHÁCH HÀNG</h3>-->
<!--            <ul>-->
<!--                <li><a href="#">Cách sạc pin điện thoại kéo dài tuổi thọ pin</a></li>-->
<!--                <li><a href="#">Quy trình bảo hành điện thoại</a></li>-->
<!--                <li><a href="#">Các phần mềm diện thoại hữu ích nên có</a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="header-dichvu">-->
<!--        <div class="nav__dichvu">-->
<!--            <h3>DỊCH VỤ KHÁCH HÀNG</h3>-->
<!--            <ul>-->
<!--                <li><a href="#">Giới thiệu về Shop điện thoại</a></li>-->
<!--                <li><a href="#">Hướng dẫn đặt hàng</a></li>-->
<!--                <li><a href="#">Chính sách đổi trả và bảo hành</a></li>-->
<!--                <li><a href="#">Chính sách bảo mật</a></li>-->
<!--                <li><a href="#">Liên hệ Shop</a></li>-->
<!--                <a href="index.html">-->
<!--                    <li>Hệ thống cửa hàng</li>-->
<!--                </a>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="header-thanhtoan">-->
<!--        <div class="nav__thanhtoan">-->
<!--            <h3>THANH TOÁN</h3>-->
<!--            <ul>-->
<!--                <img src="/image/Visa_Inc._logo.svg.png" style="width: 20%;">-->
<!--                <img src="/image/iconmastercard.png" style="width: 20%;">-->
<!--                <img src="/ image/iconatm.png" style="width: 20%;">-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
</body>
</html>